.main {
    padding: 1rem;
}

.goback {
    margin-bottom: 1.5rem;
}

.pathback {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.pathback:hover {
    text-decoration: underline dotted;
}

.linksVans {
    margin-top: 1.5rem;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.linksVans > * {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.linksVans > *:hover {
    font-weight: bold;
    text-decoration: underline;
}