.main {
    background-image: url(../../Images/pexels-cmonphotography-1809644.jpg);
    background-size: cover;
    height: 100%;
    padding: 0 1rem;
}

.title {
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    padding-block: 1rem;
    margin-top: 4rem;
}

.description {
    color: white;
    font-family: sans-serif;
    margin-bottom: 2rem;
    max-width: 550px;
}

.btn {
    width: 100%;
    padding: 0.75rem;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
