.vanSection {
    width: 250px;
    margin-block: 2rem 4rem;
}

.namePrice {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 8px;
}

.imgStyle {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.name {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.price {
    font-weight: bold;
}

.type {
    font-family: sans-serif;
    font-size: 15px;
    width: fit-content;
    padding: .25rem .5rem;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}